/* ---
Designed & developed by Shabnam-k
---- */

*:before,
*:after {
 box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(20,14,125);
  background: linear-gradient(90deg, rgba(20,14,125,1) 0%, rgba(9,9,121,1) 35%, rgba(255,0,27,1) 100%);
  /* background: rgb(0,0,0); 
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(170,129,156,1) 67%, rgba(170,129,156,1) 100%); */
  height: 100%;
  position: relative;

}
.App{
  min-height: 100vh; 
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px;
  /* min-height: 100%; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-wrapper{
  background: rgb(20,14,125);
background: linear-gradient(90deg, rgba(20,14,125,1) 0%, rgba(9,9,121,1) 35%, rgba(255,0,27,1) 100%);
/* background: rgb(0,0,0); 
 background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(170,129,156,1) 67%, rgba(170,129,156,1) 100%); */

}
.card .card-image img {
  width: 100%;
  height: 400px;
}
.add-book{
  width: 60%;
}
.card .card-title {
  font-size: 24px;
  /* font-weight: 400; */
  color: #165baa;
  margin-top: 0;
}
#root > div > div > div > div > a > div > div {
  padding: 14px;
  border-radius: 0 0 2px 2px;
}
.dashboard-title, h4, h5{
  color: #f7f7fc;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #4083ff;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}
.author, .list-titles{
  font-weight: bold;
}
.add-button{
  padding: 0px 10px;
}
.logo-icon{
  padding: 10px;
}
form{
  padding: 20px;
  margin: 45px auto;
}
.book-list{
  margin: 20px 0;
  width: 70%;
}
canvas{
  padding: 30px;
}
footer{
  background-color: #000;
  color: #fff;
  position:absolute;
left:0;
bottom:0;
right:0;
padding: 15px;
}
.footer-link{
  color: #fff;
}
.fa-heart{
  color: #f06292 ;
  padding: 0 5px;
}
.fa-mug-hot{
  color: #47a868 ;
  padding: 0 5px;
}
.details{
  color: #aa1616;
}
/* --------- Media Query --------- */
@media screen and (max-width: 600px) {
  .home-title {
    font-size: 1.9rem;
}
#root > div > div > div > div:nth-child(n) > div.card-stacked > div.card-content > span {
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
  }
.card .card-content .card-title {
    display: inline;
    /* line-height: 20px; */
    /* margin-bottom: 0px; */
}
#root > div > div > div > div:nth-child(n) > div.card-stacked > div.card-content {
  padding: 12px;
}
  .card.small {
    width: 100%;
    height: 650px;
}
.add-button {
  /* padding: 5px 1px; */
  display: inline-block;
}
.add-book {
  width: 95%;
}
.card .card-action, .card .card-content {
  padding: 10px 14px;
  font-size: .9em;
}
}