/* ---
Designed & developed by Shabnam-k
---- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cfd0d3;
  /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
  /* background-image: linear-gradient(to right top, #051937, #1c4466, #367396, #56a7c4, #7dddf0); */
  background-image: linear-gradient(to right top, #11356b, #255a89, #4781a3, #72a7bd, #a3ced7);
  background-image: linear-gradient(to right top, #f70f31, #f3359c, #b077e5, #499ef6, #1ab3db);
  /* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(255,0,27,1) 100%); */
background: rgb(20,14,125);
background: linear-gradient(90deg, rgba(20,14,125,1) 0%, rgba(9,9,121,1) 35%, rgba(255,0,27,1) 100%);
/* background: rgb(20,14,125);
background: linear-gradient(90deg, rgba(20,14,125,1) 0%, rgba(9,9,121,1) 35%, rgba(0,255,85,1) 100%); */
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-wrapper{
  background: rgb(20,14,125);
background: linear-gradient(90deg, rgba(20,14,125,1) 0%, rgba(9,9,121,1) 35%, rgba(255,0,27,1) 100%);
/* background: rgb(20,14,125);
background: linear-gradient(90deg, rgba(20,14,125,1) 0%, rgba(9,9,121,1) 35%, rgba(0,255,85,1) 100%); */

}
.card .card-image img {
  width: 100%;
  height: 400px;
}
.card .card-title {
  font-weight: 400;
  color: #165baa;
}
.dashboard-title{
  color: #f7f7fc;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #4083ff;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}
.author{
  font-weight: bold;
}
.add-button{
  padding: 0px 10px;
}
.logo-icon{
  padding: 10px;
}
form{
  padding: 20px;
  margin: 45px auto;
}
/* --------- Media Query --------- */
@media screen and (max-width: 600px) {
  h4 {
    font-size: 2.0rem;
}
  .card .card-title {
    font-size: 1.2em;
  }
.card .card-content .card-title {
    display: inline;
    line-height: 20px;
    /* margin-bottom: 0px; */
}
  .card.small {
    height: 350px;
}
.add-button {
  /* padding: 5px 1px; */
  display: inline-block;
}
.card .card-action, .card .card-content {
  padding: 17px 14px;
}
}